.guide {
  margin: 0 auto;
  background-color: pink;
  border: 10px solid black;
  cursor: default;

  & h1 {
    font-size: 2rem;
    margin: 60px auto;
  }

  & p {
    margin: 0 10px 60px;
    line-height: 1.7rem;
  }

  & li {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;

    & .icon {
      font-size: 2.5rem;
      margin: 10px;
      color: palevioletred;
    }
  }

  & .icon {
    font-size: 2.5rem;
    margin: 0 auto;
  }
}

details {
  margin: 0 auto;
  margin-bottom: 30px;
  line-height: 1.7rem;
  background-color: white;
  padding: 5px 15px;
  width: 95%;
  border: 10px double palevioletred;

  &[open] {
    & .summaryTitle {
      color: palevioletred;
    }
  }

  & summary {
    font-size: 1.1rem;
    cursor: pointer;

    &&::marker {
      content: none;
    }
  }

  & .closeBtn {
    font-family: "Press Start 2P", monospace;
    line-height: 1.2rem;
    background-color: palevioletred;
    color: white;
    padding: 6px;
    margin: 15px auto;
    width: 50%;
    text-align: center;
    cursor: pointer;
  }

  & .pDetails {
    margin: 1rem auto;
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  & .noFlex {
    margin: 1rem auto;
    font-size: 0.9rem;

    & a {
      color: palevioletred;
    }
  }
}

.backBtn {
  height: 40px;
  width: 80px;
  margin-bottom: 10px;
  font-family: "Press Start 2P", monospace;
}

.hey {
  background-color: palevioletred;
  color: black;
  padding: 6px;
  width: 100%;
}

.hey2 {
  text-decoration: underline;
}

.hey a {
  background-color: grey;
}

@media only screen and (min-width: 600px){ 
  .guide { 
    & details {
      width: 50%;
    }
  }
}