.guide {
  margin: 0 auto;
  background-color: pink;
  border: 10px solid black;
}

h1 {
  font-size: 2rem;
  margin: 60px auto;
}

.p_Guide {
  margin: 0 10px 60px;
  line-height: 1.7rem;
}

details {
  margin-bottom: 30px;
  line-height: 1.7rem;
  background-color: white;
  padding: 5px 15px;
  border: 10px solid pink;
}

summary {
  font-size: 1.3rem;
}

.backBtn {
  height: 40px;
  width: 80px;
  margin-bottom: 10px;
  font-family: 'Press Start 2P', monospace;
}

.hey {
  background-color: #1B1C1E;
  color: white;
  padding: 6px;
}

.hey2 {
  text-decoration: underline;
}

.hey a {
  background-color: grey;
}