/* regular card */
.newCard {
  display: grid;
  grid-template: 15% 40% 34% 7% 4% / repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: pink;
  border: 10px solid black;
}

.michiCardTop {
  height: 100%;
  grid-area: 1/1/2/6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.michiName {
  font-size: 1.5rem;
}

.divCatImg {
  grid-area: 2/1/3/6;
  height: 100%;
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;
}

.catImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 6px solid black;
}

.atributtes {
  grid-area: 3/1/4/6;
  margin: 5px auto;
  background-color: white;
  line-height: 1.5rem;
  width: 90%;
  height: 90%;
  font-family: 'Press Start 2P', monospace;
  border: 1px black solid;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stats {
  grid-area: 4/1/5/6;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
}

.statLi {
  font-size: 0.45rem;
  list-style: none;
  margin: auto 5px;
}

.footer {
  background-color: white;
  border: 1px dotted black;
  width: 100%;
  height: 100%;
  grid-area: 5/1/6/6;
}

.footer p {
  font-size: 0.45rem;
  line-height: 1.5rem;
}

/* half star card */
.newCard_halfStar {
  display: grid;
  grid-template: 15% 40% 34% 7% 4% / repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: #47A0D2;
  border: 10px solid black;
}

.michiCardTop_halfStar {
  height: 100%;
  grid-area: 1/1/2/6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}


.michiName_halfStar {
  font-size: 1.5rem;
}

.divCatImg_halfStar {
  grid-area: 2/1/3/6;
  height: 100%;
}

.catImg_halfStar {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border: 6px solid black;
}

.atributtes_halfStar {
  grid-area: 3/1/4/6;
  margin: 5px auto;
  background-color: white;
  line-height: 1.5rem;
  width: 90%;
  height: 90%;
  font-family: 'Press Start 2P', monospace;
  border: 1px black solid;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stats_halfStar {
  grid-area: 4/1/5/6;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.statLi_halfStar {
  font-size: 0.45rem;
  list-style: none;
  margin: auto 5px;
}

.footer_halfStar {
  background-color: white;
  border: 1px dotted black;
  width: 100%;
  height: 100%;
  grid-area: 5/1/6/6;
}

.footer_halfStar p {
  font-size: 0.45rem;
  line-height: 1.5rem;
}


/* half full card */
.newCard_fullStar {
  display: grid;
  grid-template: 15% 40% 34% 7% 4% / repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: black;
  border: 10px double whitesmoke;
  color: whitesmoke;
}

.michiCardTop_fullStar {
  height: 100%;
  grid-area: 1/1/2/6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;
}

.michiName_fullStar {
  font-size: 1.5rem;
}

.divCatImg_fullStar {
  grid-area: 2/1/3/6;
  height: 100%;
}

.catImg_fullStar {
  width: 90%;
  height: 100%;
  object-fit: cover;
  border: 10px double whitesmoke;
}

.atributtes_fullStar {
  grid-area: 3/1/4/6;
  margin: 5px auto;
  background-color: white;
  line-height: 1.5rem;
  width: 90%;
  height: 90%;
  font-family: 'Press Start 2P', monospace;
  border: 1px black solid;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stats_fullStar {
  grid-area: 4/1/5/6;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.statLi_fullStar {
  font-size: 0.45rem;
  list-style: none;
  margin: auto 5px;
}

.footer_fullStar {
  background-color: white;
  border: 1px dotted whitesmoke;
  color: black;
  width: 100%;
  height: 100%;
  grid-area: 5/1/6/6;
}

.footer_fullStar p {
  font-size: 0.45rem;
  line-height: 1.5rem;
}

.collection {
  width: 100vw;
  height: 99.5vh;
  font-size: 0.85rem;
  margin-bottom: 2px;
}

.deleteButton {
  margin: 0 auto 15px;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(247, 107, 107);
  font-size: 0.6rem;
  font-family: 'Press Start 2P', monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}