.common {
  background-color: pink;
  border: 10px solid black;

  & img {
    outline-offset: -7px;
    border: 9px solid black;
    outline: 5px solid palevioletred;
  }

  .atributtes {
    border: 1px black solid;
  }

  .icon {
    border: none;
  }
}

.halfStar {
  background-color: #47a0d2;
  border: 10px solid black;

  & img {
    outline-offset: -7px;
    border: 9px solid black;
    outline: 5px solid silver;
  }

  & .icon {
    color: silver;
    border: none;
  }

  & .atributtes {
    border: 3px blue solid;
  }
}

.fullStar {
  background-color: black;
  border: 10px double whitesmoke;
  color: black;

  & h1,
  .stats {
    color: whitesmoke;
  }

  & img {
    outline: none;
    border: 10px double gold;
  }

  & .icon {
    color: gold;
    border: none;
  }

  & .stats {
    color: gold;
  }

  & .atributtes {
    border: 3px solid goldenrod;
  }
}

.newCard {
  display: grid;
  grid-template: 15% 40% 34% 7% 4% / repeat(5, 1fr);
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  height: 100vh;
  max-height: 100%;
}

.michiCardTop {
  height: 100%;
  grid-area: 1/1/2/6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  & h1 {
    font-size: 1.5rem;
  }
}

.divCatImg {
  grid-area: 2/1/3/6;
  height: 100%;
  width: 90%;
  aspect-ratio: 1/1;
  margin: 0 auto;

  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.atributtes {
  grid-area: 3/1/4/6;
  margin: 5px auto;
  background-color: white;
  line-height: 1.5rem;
  width: 90%;
  height: 90%;
  font-family: "Press Start 2P", monospace;
  padding: 10px;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.stats {
  grid-area: 4/1/5/6;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  width: 100%;

  & li {
    font-size: 0.45rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .statName {
      margin: 0px auto 10px;
    }
  }
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
  border-top: 1px dotted black;
  width: 100%;
  height: 70%;
  position: relative;
  bottom: -8px;
  grid-area: 5/1/6/6;

  & p {
    font-size: 0.45rem;
    line-height: 1.5rem;
  }
}


/* collection */
.deleteButton {
  margin: 0 auto 15px;
  border-radius: 20px;
  padding: 5px;
  background-color: rgb(247, 107, 107);
  font-size: 0.6rem;
  font-family: "Press Start 2P", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goCreateButton {
  margin: 0 auto 15px;
  border-radius: 20px;
  padding: 5px;
  background-color: gainsboro;
  font-size: 0.6rem;
  font-family: "Press Start 2P", monospace;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LocalCardCollection {
  background-color: rgb(255, 223, 228);
}

.modalDelete {
  position: absolute;
  margin-top: 600px;
  margin-left: -17px;
  z-index: 1000;
  border-radius: 10px;
  width: 90%;
}
