.modal {
  border: 5px solid black;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: #C594AA;
  color: black;
  width: 90%;
  margin: 0 auto;
}

.close {
  background-color: red;
  margin-left: 1rem;
  padding: 2px;
  border-radius: 4px;
  font-weight: bold;
}

.modal::backdrop {
  background: black;
}
